nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    gap: 50px;
    font-size: 1.5rem;   
    border-top: solid 1px #ccc; 
}

nav a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav a:hover{
    color: var(--primary-color);
}

