<header>

  <section class="logo">
    <h2 (click)="changeComponent('dashboard')">GESFUT</h2>
    @if (routeActive()) {
    <p class="p-panel" (click)="changeComponent('dashboard-principal')">
      Volver al panel central
    </p>
    }   
  </section>

  @if(isRouteTorunament || noIsAdmin) {
  <p class="title-tournament">{{ lastTournamentClickedName.toUpperCase() }}</p>
  }
  
  
  @if (!isLoggedIn && !guest) {
  <button class="btn-login" (click)="onLogin()">INICIAR SESION</button>
  } @else if (isLoggedIn) {
  <app-user class="user"></app-user>
  }@else {
    <div></div>
  }


</header>
