<section>
  <div class="title-container">
    <h2 class="title">
      @switch (category) {
        @case("POSITION"){
          TABLA
        }
        @case("FAIR_PLAY"){
          FAIR PLAY
        }
        @case("TOP_SCORER"){
          GOLEADORES
        }
        @case("BEST_GOALKEEPER"){
          MEJORES ARQUEROS
        }
      }
      </h2>
  </div>

  <div class="button-container">
    <button type="button" (click)="addPrize()" class="base-button"><i class="fa-solid fa-circle-plus"></i></button>
  </div>
  <form [formGroup]="prizesForm" (ngSubmit)="submitForm()">

    <div formArrayName="prizes" class="scroller-container">
      <div *ngFor="let prize of prizes.controls; let i = index" [formGroupName]="i" class="prize-container">

        <div class="form-group input-icon">
          <i class="fa-solid fa-award"></i>
          <input id="position-{{i}}" type="number" formControlName="position" class="input-position" min="1" />
        </div>

        <div class="form-group">
          <input id="description-{{i}}" formControlName="description" placeholder="Descripción" class="input-base">
        </div>

        <button class="base-button" type="button" (click)="removePrize()"><i class="accordion-button fa-solid fa-trash-can"></i></button>
      </div>
    </div>
    <div class="button-container">
      <button type="submit" class="base-button">Guardar</button>
    </div>
  </form>
</section>
