section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-self: center;
  width: 100%;
  height: 100%;
  margin: auto;
}

.title-container{
  width: 96%;
  margin: 0 auto;
}
.title {
  font-size: var(--font-size-subtitle);
  color: var(--primary-color);
  margin: 8px 0;
  text-align: center;
}

.prizes-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 100%;
  height: 400px;
  margin: 0 auto;
  overflow-y: scroll;
}


.accordion-item {
  border: 1px solid #ddd;
  width: 96%;
  margin: 5px 0;
  border-radius: 5px;
}

.accordion-header {
  background-color: #f1f1f1;
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--primary-color);
  font-size: var(--font-size-text);
}

.accordion-body {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  font-size: var(--font-size-text);
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 8px;
  background-color: #f9f9f9;
  border-top: 1px solid #ddd;
}

.accordion-description{
  grid-column: 1/11;
}

.accordion-button{
  margin: 0 auto;
  font-size: var(--font-size-subtitle);
  color: var(--primary-color);
}


.button-container{
  display: flex;
  justify-content: end;
  padding: 16px 0;
  width: 100%;
}

.base-button{
  width: auto;
  padding: 8px 16px ;
}

.empty-prizes{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 50%;
}

.empty-prizes p{
  font-size: var(--font-size-subtitle);
  color:var(--font-color-dark);
}
