
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    background-color: var(--primary-color);
    padding: 10px;
    font-size: var(--font-size-text);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    height: 80px;
  }

.icon {
    font-size: small;
    height: 30px;
    width: 30px;
}

.redes {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}


@media(max-width: 576px) {

    .footer{
        position: relative;
    }

}