<section class="conteiner" [ngClass]="{'container-in-global': isGlobal}">
  <div>
    <button class="back-button btn" (click)="back()">ATRAS</button>
    <h1 class="title">PARTIDOS DE {{ teamName.toUpperCase() }}</h1>
  </div>
  <div class="gap">
    @for (item of matches; track $index) {
    <div class="withEvents">
      <article class="match">
        <p class="number">FECHA {{ item.numberOfMatchDay + 1 }}</p>

        @if (someIsFree($index)) {
        <div class="versus">
          <p></p>
          <p class="free-match">FECHA LIBRE</p>
          <p></p>
          <p></p>
        </div>
        }@else{
        <div class="versus">
          <p [ngClass]="{ teamName: teamName === item.homeTeam || nameTeam === item.homeTeam }">
            {{ item.homeTeam }}
          </p>
          <p>{{ item.homeGoals }}</p>
          <span>-</span>
          <p>{{ item.awayGoals }}</p>
          <p [ngClass]="{ teamName: teamName === item.awayTeam || nameTeam === item.awayTeam }">
            {{ item.awayTeam }}
          </p>
        </div>
        }

        <button
          class="base-button"
          [ngClass]="{
            hidden: viewEventsFlag && $index === matchIndex,
            noFinished: !item.isFinished
          }"
          (click)="viewEvents($index)"
        >
          @if (viewEventsFlag && $index === matchIndex) { OCULTAR EVENTOS }
          @else if (item.isFinished) { VER EVENTOS } @else { PARTIDO NO
          FINALIZADO }
        </button>
      </article>

      @if (viewEventsFlag && $index === matchIndex) {
      <app-list-events [match]="matches[$index]" [isTeamNameClicked]="nameTeam || teamName">
      </app-list-events>
      }
    </div>
    }
  </div>
</section>
