.conteiner{
    display: flex;
    flex-direction: column;
    padding: 16px;
    min-height: calc(100vh - 130px);
    gap: 30px;
}

.container-in-global{
   min-height: calc(100vh - 80px) !important;
}

.gap{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.title{
    font-size: 28px;
    color: var(--primary-color);
    margin: 8px 0;
    text-align: center;
    @media screen and (max-width: 768px){
        font-size: 24px;
    }
    @media screen and (max-width: 576px){
        font-size: 20px;
        
    }
}

.match{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 4px;
    font-size: var(--font-size-text);
    width: 100%;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
    @media screen and (max-width: 768px){
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    @media screen and (max-width: 576px){
        padding: 20px;
    }
}

.base-button{
    width: 15%;
    padding: 10px;
    @media screen and (max-width: 768px){
        width: auto;
    }
    @media screen and (max-width: 576px){
        width: 100%;
        font-size: 12px;
    }
}

.versus {
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
    @media screen and (max-width: 768px){
        width: 100%;
    }
    @media screen and (max-width: 576px){
        flex-direction: column;
        align-items: center;
        justify-content: center;        
    }
}

.free-match{
    font-weight: normal;
}


.versus > * {
    flex: 200;
    text-align: center;
    @media screen and (max-width: 768px){
        text-align: center;
    }
}

.versus > :last-child {
    flex: 200;
    text-align: start;
    @media screen and (max-width: 768px){
        text-align: center;
    }
}

.versus > :first-child {
    flex: 200;
    text-align: end;
    @media screen and (max-width: 768px){
        text-align: center;
    }
}

.versus > :not(:first-child):not(:last-child) {
    flex: auto;
    text-align: center;
}


.number{
    width: 15%;
    display: flex;
    justify-content: start;
    padding: 5px;
    align-items: center;
    font-weight: bold;
    @media screen and (max-width: 768px){
        width: 100%;
        text-align: start;
    }
}

.withEvents{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
    @media screen and (max-width: 768px){
        width: 100%;
    }
    @media screen and (max-width: 576px){
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

p{
    font-weight: bold;
}

.hidden{
    background-color: var(--terciary-color);
}

.hidden:hover{
    background-color: var(--terciary-color);
}

.noFinished{
    background-color: var(--bg-color);
    color: var(--font-color-dark);
    border: solid 1px var(--primary-color);
    font-weight: normal;
}

.teamName{
    color: var(--primary-color);
}