section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.players-form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
}

@media (max-width: 600px) {
    .players-form {
        grid-template-columns: 1fr;
    }
}

.team-form{
    display: flex;
    flex-direction: row;
    margin: 0 16px;
    gap: 8px;
}

.player-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 16px;
    gap: 8px;
}

.small-input{
    width: 96px;
}


