/* Contenedor principal */
.sub-header {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 20px;

  button{
    margin-left: 10px;
  }

}

.title-div {
  text-align: center;
  margin-left:250px;  
}

.title {
  font-size: 24px;
  font-weight: 600;
  color: #333;
  margin: 0;
}


app-excel-upload {
  margin-left: 20px;
}

/* Mensaje de error */
.error-message {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}

/* Formulario */
.team-form-container {
  width: 100%;
  display: grid;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  max-height: 500px;
  overflow-y: auto;
}

.form-fields {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-bottom: 30px;
}

.form-group {
  position: relative;
}

input[type="text"],
input[type="number"],
input[type="color"] {
  width: 100%;
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  background-color: #fff;
}

.color-form{
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 5px;

  i{
    font-size: 20px;
    color: #aaa;
  }

  input{
    padding: 5px;
    width: 50px;
    height: 100%;
  }

}


input:focus {
  border-color: var(--primary-color);
  outline: none;
}

/* Iconos */
input[type="text"]:focus + i,
input[type="number"]:focus + i,
input[type="color"]:focus + i {
  color: var(--primary-color);
}

.form-group i {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: #aaa;
}

/* Sección de jugadores */
.player-form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

button.base-button {
  background-color: #28a745;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button.base-button:hover {
  background-color: #218838;
}

.players-form {
  margin-bottom: 30px;
}

.players-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.player-row {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  background-color: #f0f0f0;
  padding: 15px;
  border-radius: 8px;
}

.mini-group {
  display: flex;
  gap: 10px;
  align-items: center;
}

.check-group {
  display: flex;
  gap: 15px;
}

.checkbox-icon {
  display: flex;
  align-items: center;
}

.checkbox-icon input {
  margin-right: 5px;
}

button.base-button.button-small {
  background-color: var(--primary-color);
  width: auto;
}

button.base-button.button-small:hover {
  background-color: var(--secondary-color);
}

button[type="submit"] {
  background-color: var(--primary-color);
  color: white;
  padding: 12px 20px;
  font-size: 18px;
  width: 100%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

button[type="submit"]:hover {
  background-color: var(--primary-color);
}


.create-btn{
  max-width: 200px;
}


.container-all{
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 15px;
  height: calc(100vh - 160px);
  gap: 10px;
}


.excel-upload-container {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}
