@if(isLoading) {
<!-- Muestra un componente o mensaje de carga -->
<div class="loading-container">
  <div class="spinner"></div>
  <p>Cargando datos del torneo...</p>
</div>
} @else { @if(flag) {
<app-navbar></app-navbar>
}
<!-- Componentes principales basados en el valor de activeComponent -->
@if (activeComponent==='recap' && flag) {
<app-recap></app-recap>
} @if(activeComponent === 'dashboard') {
<app-tournament-dashboard></app-tournament-dashboard>
}

@if(activeComponent === 'initialize') {
<app-initialize-tournament></app-initialize-tournament>
} @if(activeComponent === 'list-teams-tournament') {
<app-list-team-tournaments></app-list-team-tournaments>
} @if(activeComponent=== 'leaderboard'){
<app-leaderboard></app-leaderboard>
} @if(activeComponent==='match-days'){
<app-list-match-days></app-list-match-days>
} @if(activeComponent==='load-result'){
<app-load-result></app-load-result>
} @if (activeComponent==='lasts-matches'){
<app-lasts-matches></app-lasts-matches>
} @if (activeComponent==='add-player') {
<app-add-player></app-add-player>
} @if (activeComponent==='create-team') {
<app-create-team></app-create-team>
} @if(activeComponent==='prizes'){
<app-prize-dashboard></app-prize-dashboard>
} }
