section {
  display: flex;
  flex-direction: column;
  width: 1280px;
  margin: 0 auto;
  min-height: calc(100vh - 210px);
  color: var(--font-color);
  background-color: var(--bg-color);
}

@media (max-width: 1280px) {
  section {
    width: 100%;
    height: auto;
    min-height: calc(100vh - 160px);
    padding: 20px;
  }
}

@media (max-width: 768px) {
  section {
    min-height: calc(100vh - 80px);
    padding: 10px;
  }
}

.title-container {
  width: 96%;
  margin: 0 auto;
}
.title {
  font-size: 28px;
  color: var(--primary-color);
  margin: 8px 0;
}

hr {
  border: none;
  height: 5px;
  background-color: var(--primary-color);
  margin: 0 auto;
}

.overflow-x {
  width: 96%;
  margin: 0 auto;
  position: relative;
  padding-top: 16px;
  @media (max-width: 768px) {
    overflow-x: scroll;
  }
}

.statistics-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: flex-start;
  width: 96%;
  height: 100%;
  gap: 16px;
  margin: 16px auto;
  @media (max-width: 768px){
    grid-template-columns: repeat(1, 1fr);
  }
}

.overflow-y{
  height: auto;
  box-shadow: 0 0 5px 0 gray;
  padding: 5px;
  th,td{
    font-size: var(--font-size-text);
  }
}

table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

thead {
  background-color: var(--primary-color);
  font-size: var(--font-size-subtitle);
  color: white;
  position: sticky;
  top: 0;
}

th {
  border: 1px solid var(--primary-color);
}

tbody {
  font-size: var(--font-size-text);
}
td {
  border: 1px solid var(--primary-color);
  padding: 4px 0;
}

.winner{
  background-color: var(--secondary-color);
}

.tag-winner{
  background-color: var(--primary-color);
  padding: 0px 8px;
  color: white;
  @media screen and (max-width: 1200px){
    display: none;
  }
}

.campeon{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  @media screen and (max-width: 1200px){
    justify-content: center;

    .campeon :first-child{
      display: none;
    }
    .campeon :last-child{
      display: none;
    }
  }
}

.titles-show{
  cursor: default;
}

.no-statistics-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 100%;
}


.no-statistics{
  font-weight: bold;
  font-size: 12px;
}

.stats-players-title{
  font-size: var(--font-size-text);
}

.hr-stats{
  border: none;
  height: 2px;
  background-color: var(--primary-color);
  margin: 0 auto;
  width: 100%;
}