<section>
  <div class="title-container">
    <h2 class="title play-bold">CLASIFICACIÓN</h2>
    <hr />
  </div>
  <div class="overflow-x">
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>EQUIPO</th>
          <th class="titles-show" title="PUNTOS">PTS</th>
          <th class="titles-show" title="PARTIDOS GANADOS">PG</th>
          <th class="titles-show" title="PARTIDOS PERDIDOS">PP</th>
          <th class="titles-show" title="PARTIDOS EMPATADOS">PE</th>
          <th class="titles-show" title="PARTIDOS JUGADOS">PJ</th>
          <th class="titles-show" title="GOLES A FAVOR">GF</th>
          <th class="titles-show" title="GOLES EN CONTRA">GC</th>
          <th class="titles-show" title="DIFERENCIA DE GOLES">DIF</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let team of tournament.participants; let i = index"
          [ngClass]="{ winner: tournament.isFinished && team.idParticipant == idChampionOfTournament 
          || tournament.isFinished && team.idParticipant == idChampionOfPlayoffs }"
        >
          <td>{{ i + 1 }}</td>
          @if (tournament.isFinished && team.idParticipant == idChampionOfTournament 
          || tournament.isFinished && team.idParticipant == idChampionOfPlayoffs) {
          <td class="campeon" (click)="showTeamDetails(team.idParticipant)">
            @if (tournament.isFinished) {
              @if (team.idParticipant == idChampionOfTournament) {
                <span class="tag-winner">CAMPEÓN</span>
                {{ team.name.toUpperCase() }}
                <span class="tag-winner">CAMPEÓN</span>
              } @else if (team.idParticipant == idChampionOfPlayoffs) {
                <span class="tag-winner">CAMPEÓN DE PLAYOFFS</span>
                {{ team.name.toUpperCase() }}
                <span class="tag-winner">CAMPEÓN DE PLAYOFFS</span>
              } @else {
                {{ team.name.toUpperCase() }}
              }
            } @else {
              {{ team.name.toUpperCase() }}
            }
          </td>
          
          }@else {
          <td>{{ team.name.toUpperCase() }}</td>
          }
          <td>{{ team.statistics.points }}</td>
          <td>{{ team.statistics.wins }}</td>
          <td>{{ team.statistics.losses }}</td>
          <td>{{ team.statistics.draws }}</td>
          <td>{{ team.statistics.matchesPlayed }}</td>
          <td>{{ team.statistics.goalsFor }}</td>
          <td>{{ team.statistics.goalsAgainst }}</td>
          <td>{{ team.statistics.goalsFor - team.statistics.goalsAgainst }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="title-container">
    <h3 class="title play-bold stats-players-title">GOLEADORES Y TARJETAS</h3>
    <hr class="hr-stats" />
  </div>
  @if (topScorers.length>0 || topYellowCards.length>0 || topRedCards.length>0) {
  <div class="statistics-container">
    @if (topScorers.length>0) {
    <div class="overflow-y">
      <table>
        <thead>
          <tr>
            <th>JUGADOR</th>
            <th class="titles-show" title="GOLES">⚽</th>
            <th>EQUIPO</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let player of topScorers">
            <td>{{ player.playerName }}</td>
            <td>{{ player.goals }}</td>
            <td>{{ player.teamName }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    }@else {
    <div class="no-statistics-container">
      <p class="no-statistics">
        No hay estadísticas de goleadores para mostrar.
      </p>
    </div>
    } @if (topYellowCards.length>0) {
    <div class="overflow-y">
      <table>
        <thead>
          <tr>
            <th>JUGADOR</th>
            <th class="titles-show" title="TARJETAS AMARILLAS RECIBIDAS">🟨</th>
            <th>EQUIPO</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let player of topYellowCards">
            <td>{{ player.playerName }}</td>
            <td>{{ player.yellowCards }}</td>
            <td>{{ player.teamName }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    }@else {
    <div class="no-statistics-container">
      <p class="no-statistics">
        No hay estadísticas de tarjetas amarillas para mostrar.
      </p>
    </div>
    } @if (topRedCards.length>0) {
    <div class="overflow-y">
      <table>
        <thead>
          <tr>
            <th>JUGADOR</th>
            <th class="titles-show" title="TARJETAS ROJAS RECIBIDAS">🟥</th>
            <th>EQUIPO</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let player of topRedCards">
            <td>{{ player.playerName }}</td>
            <td>{{ player.redCards }}</td>
            <td>{{ player.teamName }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    }@else {
    <div class="no-statistics-container">
      <p class="no-statistics">
        No hay estadísticas de tarjetas rojas para mostrar.
      </p>
    </div>
    }
  </div>

  } @else {

  <div class="no-statistics-container">
    <p class="no-statistics">
      No hay estadísticas como goleadores, tajetas amarillas y rojas para
      mostrar.
    </p>
  </div>

  }
</section>
