<section>
    <h2 class="title play-bold">PREMIOS</h2>
    <hr />
  
    <form [formGroup]="prizesForm" (ngSubmit)="onSubmit()">
  
      <div class="prizes-form-header">
        <button type="button" class="base-button add-prize-button" (click)="addPrize()">
          <i class="fa-solid fa-plus"></i><p>AGREGAR PREMIO</p>
        </button>
      </div>
    
      <div formArrayName="prizes" class="prizes-list">
        <ng-container *ngIf="prizes.controls.length === 0">
          <p>No hay premios asignados.</p>
        </ng-container>
  
        <div *ngFor="let prize of prizes.controls; let i = index" [formGroupName]="i" class="prize-row">
            <select formControlName="type" (change)="onPrizeTypeChange(prize, $event.target)">

              <option value="" disabled selected>SELECCIONE CATEGORIA</option>
              <option value="POSITION">CAMPEÓN</option>
              <option value="BEST_GOALKEEPER">MEJOR ARQUERO</option>
              <option value="FAIR_PLAY">FAIR PLAY</option>
              <option value="TOP_SCORER">GOLEADORES</option>
            </select>
            <div class="form-group input-icon ">
              <input id="prizePosition-{{ i }}" type="number" formControlName="position" placeholder="Posición" readonly />
              <i class="fa-solid fa-list-ol"></i>
            </div>
            <div class="form-group input-icon">
              <input id="prizeDescription-{{ i }}" type="text" formControlName="description" placeholder="Descripción" />
              <i class="fa-solid fa-align-left"></i>
            </div>
            <button type="button" (click)="removePrize(i)" class="base-button button-small">
              <i class="fa-solid fa-circle-minus"></i>
            </button>
          </div>
          
      </div>
    
      <div class="btn-container">
        <!-- <button class="back-button" type="button" (click)="changeComponent('dashboard')">ATRAS</button> -->
        <button type="submit" class="base-button" [disabled]="prizesForm.invalid || !prizesForm.dirty">
          CREAR PREMIOS
        </button>
      </div>
    </form>
  </section>
  