section{
    display: flex;
    flex-direction: column;
    width: 1280px;
    margin: 0 auto;
    height: calc(100vh - 80px);
}

.title-container{
    width: 96%;
    margin: 0 auto;
}

.title {
    font-size: 28px;
    color: var(--primary-color);
    margin: 24px 0;
}

/* Estilos generales para el <hr> */
hr {
    border: none; /* Sin borde */
    height: 5px; /* Grosor de la línea */
    background-color: var(--primary-color); /* Color de la línea */
    margin: 0 auto;
}


.matches{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    max-height: 600px;
    min-height: 600px;
    overflow-y: scroll;
    margin: 24px 0;
    width: 100%;
    gap: 8px;
}

.match, .versus{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    align-items: center;
    justify-content: center;
}

.match{
    gap: 8px;
    width: 96%;
    font-size: 24px;
}

.versus {
    grid-column: 1/6;
    display: grid;
    grid-template-columns: repeat(12, 1fr); /* Define una cuadrícula de 12 columnas */
    font-size: 24px;
}

.versus {
    display: grid;
    grid-template-columns: repeat(12, 1fr); /* 12 columnas para la estructura */
    font-size: 24px;
    border: 1px solid var(--bg-color); /* Borde externo del contenedor */
}

/* Estilos para los hijos */
.versus p:nth-child(1) {
    grid-column: 1 / 6;
    text-align: right;
    border-right: 1px solid var(--bg-color);  /* Borde derecho */
    padding: 4px;
}

.versus p:nth-child(2) {
    grid-column: 6 / 7;
    text-align: center;
    border-left: 1px solid var(--bg-color); ; /* Borde izquierdo que coincide con el borde derecho del anterior */
    border-right: 1px solid var(--bg-color);  /* Borde derecho para la separación con el siguiente */
    padding: 4px;
}

.versus p:nth-child(3) {
    grid-column: 7 / 8;
    text-align: center;
    border-left: 1px solid var(--bg-color);  /* Borde izquierdo que coincide con el borde derecho del anterior */
    border-right: 1px solid var(--bg-color);  /* Borde derecho */
    padding: 4px;
}

.versus p:nth-child(4) {
    grid-column: 8 / 13;
    text-align: left;
    border-left: 1px solid var(--bg-color);  /* Borde izquierdo coincidiendo con el borde derecho del anterior */
    padding: 4px;
}

.hour, .complex{
    border: 1px solid var(--bg-color);
    padding: 4px; 
    text-align: center;
}

.base-button{
    background-color: var(--primary-color);
    color:black;
    font-size: 24px;
    height: 32px
}