<section>
    <div class="title-container">
        <div>
            <h2 class="title play-bold">Fechas</h2>
            <div class="matchdays">
                @for (day of this.tournament?.matchDays; track day.numberOfMatchDay) {
                    <button class="base-button" (click)="updateMatchDay(day.numberOfMatchDay)">{{day.numberOfMatchDay+1}}</button>
                  } @empty {
                    Cargando...
                  }
            </div>
        </div>
        <hr>
    </div>
    <div class="matches">
        @if(this.tournament && this.tournament.matchDays.length > 0){
            @if(tournament.matchDays[selectedMatchDay].matches && tournament.matchDays[selectedMatchDay].matches.length > 0){
                <ng-container *ngFor="let match of tournament.matchDays[selectedMatchDay].matches">
                    <div class="match">
                        <div class="versus">
                            <p>{{ match.homeTeam.toUpperCase()}}</p>
                            <p>{{match.homeGoals}}</p>
                            <p>{{match.awayGoals}}</p>
                            <p>{{ match.awayTeam.toUpperCase()}}</p>
                        </div>
                        <div class="hour"><p>09:12 HS</p></div>
                        <div class="complex"><p>Complejo</p></div>
                        <button class="base-button"> CARGAR EVENTOS </button>
                    </div>
                </ng-container>
            }@else{
                <ng-template #noMatches>
                    <p>No hay partidos programados para esta jornada.</p>
                </ng-template>
            }
        }@else{
            <ng-template #noData>
                <p>No hay datos del torneo disponibles.</p>
            </ng-template>
        }
    </div>
    <div>
        <button class="base-button">CERRAR FECHA</button>
    </div>
</section>
