
<section class="containter-all" [ngClass]="{onlyAdd: changeView}">

    
    @if (!isGlobalTeam){
    <div class="player-list">
        @for (item of selectTeamCopy.players; track $index) {
        <div class="player-name" (click)="addToTournamentParticipant(item)">
            {{ item.name.toLocaleUpperCase() }} {{ item.lastName.toLocaleUpperCase() }}
        </div>
        }
    </div>
    }

    <form class="container-add-player" [ngClass]="{onlyAdd_form: changeView}" [formGroup]="playerForm" (ngSubmit)="addPlayerToTeam()">
        
        @if (changeView) {
            <p>AVISO: SOLO SE AGREGARA EL JUGADOR A ESTE TORNEO.</p>
            <select class="optional_changeView" (change)="selectTeamViewBig($event)">
                <option [value]="0" disabled selected>Selecciona un equipo</option>
              @for (item of teamsParticipants; track $index) {
                <option [value]="item.idTeam">{{ item.name }}</option>
              }
            </select>
          }
          
          
        
        
        <!-- Campo Nombre -->
        <div class="form-group input-icon">
            <input type="text" formControlName="name" placeholder="Nombre" />
            <i class="fas fa-user"></i>
            @if (playerForm.get('name')?.invalid && playerForm.get('name')?.touched) {
            <small>El nombre es requerido (mín. 2 caracteres).</small>
            }
        </div>

        <!-- Campo Apellido -->
        <div class="form-group input-icon">
            <input type="text" formControlName="lastName" placeholder="Apellido" />
            <i class="fas fa-user"></i>
            @if (playerForm.get('lastName')?.invalid && playerForm.get('lastName')?.touched) {
            <small>El apellido es requerido (mín. 2 caracteres).</small>
            }
        </div>

        <!-- Campo Dorsal -->
        <div class="form-group input-icon">
            <input type="number" formControlName="number" placeholder="Dorsal" />
            <i class="fa-solid fa-hashtag"></i>
            @if (playerForm.get('number')?.invalid && playerForm.get('number')?.touched) {
            <small>Ingresa un dorsal válido (1-99).</small>
            }
        </div>

        <!-- Campos Checkbox -->
        <div class="mini-group">
            <div class="check-group">
                <div class="form-group">
                    <label class="checkbox-icon">
                        <input type="checkbox" formControlName="isCaptain" />
                        <i class="fa-solid fa-c"></i>
                    </label>
                </div>
                <div class="form-group">
                    <label class="checkbox-icon">
                        <input type="checkbox" formControlName="isGoalKeeper" />
                        <i class="fa-solid fa-hand"></i>
                    </label>
                </div>
            </div>
        </div>

        <!-- Botones -->
        @if (changeView) {
            <div class="change_btn">
                <button type="button" class="base-button" [ngClass]="{cancel_change: changeView}" (click)="cancel()">CANCELAR</button>
                <button type="submit" class="base-button change">AGREGAR JUGADOR</button>
            </div>
        }@else{
            <button type="button" class="base-button cancel" (click)="cancel()">CANCELAR</button>
            <button type="submit" class="base-button">AGREGAR JUGADOR</button>
        }
    </form>
</section>