<section>
  <h2 color="primary">Registro</h2>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    @if (error !== undefined && error !== '') {
    <mat-error>{{ error }}</mat-error>
    }

    <mat-form-field>
      <mat-label>Nombre</mat-label>
      <mat-icon matPrefix >person</mat-icon>
      <input matInput formControlName="name" placeholder="Ingresa tu nombre" />
      @if (registerForm.get('name')?.hasError('required')) {
      <mat-error>El nombre es obligatorio</mat-error>
      } @if (registerForm.get('name')?.hasError('minlength')) {
      <mat-error>Debe tener al menos 2 caracteres</mat-error>
      } @if (registerForm.get('name')?.hasError('maxlength')) {
      <mat-error>No puede superar los 50 caracteres</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Apellido</mat-label>
      <mat-icon matPrefix >person</mat-icon>
      <input
        matInput
        formControlName="lastName"
        placeholder="Ingresa tu apellido"
      />
      @if (registerForm.get('lastName')?.hasError('required')) {
      <mat-error>El apellido es obligatorio</mat-error>
      } @if (registerForm.get('lastName')?.hasError('minlength')) {
      <mat-error>Debe tener al menos 2 caracteres</mat-error>
      } @if (registerForm.get('lastName')?.hasError('maxlength')) {
      <mat-error>No puede superar los 50 caracteres</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Correo electrónico</mat-label>
      <mat-icon matPrefix >email</mat-icon>
      <input
        matInput
        formControlName="email"
        type="email"
        placeholder="Ingresa tu correo"
      />
      @if (registerForm.get('email')?.hasError('required')) {
      <mat-error>El correo es obligatorio</mat-error>
      } @if (registerForm.get('email')?.hasError('email')) {
      <mat-error>Debe ser un correo electrónico válido</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Contraseña</mat-label>
      <mat-icon matPrefix >password</mat-icon>
      <input
        matInput
        formControlName="password"
        [type]="hide() ? 'password' : 'text'"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="clickEvent($event)"
        aria-label="Mostrar/Ocultar contraseña"
      >
        <mat-icon>{{ hide() ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
      @if (registerForm.get('password')?.hasError('required')) {
      <mat-error>La contraseña es obligatoria</mat-error>
      } @if (registerForm.get('password')?.hasError('minlength')) {
      <mat-error>Debe tener al menos 8 caracteres</mat-error>
      }
    </mat-form-field>

    <button mat-flat-button color="primary" type="submit">REGISTRARTE</button>
  </form>
</section>
