<section>
  <div class="title-container">
    @if(lastMatchDay){
    <h2 class="title play-bold">
      {{ getMatchDayStatus() }}
      <div class="tags-matchDay">
        <p *ngIf="lastMatchDay.isFinished" class="status">FINALIZADA</p>
        @if (isTheFirst()) {
        <p class="status prox" (click)="nextMatchDay()">{{returnText()}}</p>
        }@else if(!isTheLast()) {
          <p class="status prox" (click)="nextOrBackMatchDay()">{{returnText()}}</p>
        }@else{
          <p class="status prox" (click)="previousMatchDay()">{{returnText()}}</p>
        }
      </div>
      
    </h2>
    }@else{
    <h2 class="title play-bold">Cargando...</h2>
    }
    <hr />
  </div>

  <div class="dashboard-container">
    <div class="matches-container">
      @if(this.lastMatchDay){ @for (match of lastMatchDay.matches; track
      match.id) {
      <div class="match">
        @if(match.homeTeam === 'Free' || match.awayTeam === 'Free'){
        @if(match.homeTeam === 'Free'){
          @if (!lastMatchDay.isFinished) {
            <p class="status">FINALIZADO</p>
          }
          <p class="free-match">
          {{ match.awayTeam.toUpperCase() }} TIENE FECHA LIBRE
        </p>
        }@else{
          @if (!lastMatchDay.isFinished) {
            <p class="status">FINALIZADO</p>
          }
          <p class="free-match">
          {{ match.homeTeam.toUpperCase() }} TIENE FECHA LIBRE
        </p>
        } }@else{ @if (match.isFinished) {
          @if (!lastMatchDay.isFinished) {
            <p class="status">FINALIZADO</p>
          }
          <div class="versus">
          <p>{{ match.homeTeam.toUpperCase() }}</p>
          <p>{{ match.homeGoals }}</p>
          <p>{{ match.awayGoals }}</p>
          <p>{{ match.awayTeam.toUpperCase() }}</p>
        </div>
        }@else {
          <p class="status prox">
            {{ match.dateTime ? returnHour(match.dateTime) + ' hs': 'PRÓXIMAMENTE' }}
          </p>
                    <div class="versus">
          <p>{{ match.homeTeam.toUpperCase() }}</p>
          <p>-</p>
          <p>-</p>
          <p>{{ match.awayTeam.toUpperCase() }}</p>
        </div>
        } }
      </div>
      } }@else{
      <ng-template #noMatches>
        <p>No hay partidos programados para esta jornada.</p>
      </ng-template>
      }
    </div>
    
    <div class="top-scorers-container">
      @if (lastMatchDay.isFinished) {
      <div class="mvp-container">
        <div class="mvp">
          MVP
        </div>
        <p>{{lastMatchDay.mvpPlayer ? lastMatchDay.mvpPlayer : "NO HAY MVP SELECIONADO"}}</p>
      </div>
      }
      @if(topScorers.length > 0) {
      <div class="table-header">
        <div class="table-cell">JUGADOR</div>
        <div class="table-cell" title="GOLES">⚽</div>
      </div>
      <div class="top-scorers-table">
        @for(scorer of topScorers; track scorer.playerName) {
        <div class="table-row">
          <div class="table-cell">{{ scorer.playerName.toUpperCase() }}</div>
          <div class="table-cell">
            {{ scorer.goals }}
          </div>
        </div>
        }
      </div>
      } @else if(forecast && !lastMatchDay.isFinished) {
      <app-weather-card class="weather" [day]="forecast"></app-weather-card>
      } @else if(loadingWeather && !lastMatchDay.isFinished) {
      <p class="title">Cargando clima...</p>
      <app-spinner></app-spinner>
      }@else if(isPreviousDayAvailable && !lastMatchDay.isFinished) {
        <p>La fecha es anterior al dia actual. No es posible visuallizar el clima.</p>
      }@else if(!lastMatchDay.isFinished) {
        <p>No se puede visualizar el clima.</p>
      }
    </div>
  </div>
</section>
