section{
  display: flex;
  flex-direction: column;
  width: 1280px;
  margin: 0 auto;
  min-height: calc(100vh - 210px);
  color: var(--font-color);
  background-color: var(--bg-color);
}

@media (max-width: 1280px) {
  section {
    width: 100%;
    height: auto;
    min-height: calc(100vh - 210px);
    padding: 20px;
  }
}

@media (max-width: 768px) {
  section {
    min-height: calc(100vh - 80px);
    padding: 10px;
  }
}

.title-container{
  width: 96%;
  margin: 0 auto;
}
.title {
  font-size: 28px;
  color: var(--primary-color);
  margin: 8px 0;
}

hr {
  border: none;
  height: 5px;
  background-color: var(--primary-color);
  margin: 0 auto;
}

.dashboard-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: start;
  justify-content: center;
  margin: 0 auto;
  width: 96%;
}

.matches-container{
  grid-column: 1/3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 500px;
  overflow-y: scroll;
  padding: 8px 0;
  margin: 24px 0;
  width: 100%;
  gap: 8px;
  @media (max-width: 1280px) {
      height: 400px;
  }
}

.match{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 100%;
  font-size: var(--font-size-text);
  margin: 0 auto;
}

.status{
  font-size: var(--font-size-text);
  background-color: var(--terciary-color);
  padding:0px 5px;
  width: auto !important;
  color: white;
}

.prox{
  background-color: var(--primary-color);
  width: 17%;
}

.versus {
  grid-column: 1/6;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  border: 1px solid black;
  font-weight: 500;
  width: 100%;
}
@media (max-width: 1280px) {
  .versus{
      grid-column: 1/13;
  }
}


.versus p:nth-child(1) {
  grid-column: 1 / 6;
  text-align: right;
  border-right: 1px solid black;
  padding: 4px;
}

.versus p:nth-child(2) {
  grid-column: 6 / 7;
  text-align: center;
  background-color: white;
  border-left: 1px solid black; ;
  border-right: 1px solid black;
  padding: 4px;
}

.versus p:nth-child(3) {
  grid-column: 7 / 8;
  text-align: center;
  background-color: white;
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding: 4px;
}

.versus p:nth-child(4) {
  grid-column: 8 / 13;
  text-align: left;
  border-left: 1px solid black;
  padding: 4px;
}

.free-match{
  grid-column: 1/6;
  text-align: center;
  font-size: var(--font-size-text);
  font-weight: bold;
  border: 1px solid black;
  padding:4px;
  width: 100%;
  @media(max-width: 1280px){
      grid-column: 1/13;
  }
}

.top-scorers-container {
  grid-column: 3/4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 300px;
  padding: 8px 0;
  margin: 24px auto;
  width: 96%;
}

.top-scorers-table {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--border-color);
  overflow-y: scroll;
  height: 200px;
  font-size: var(--font-size-text);
}

.table-header {
  display: flex;
  background-color: var(--primary-color);
  font-size: var(--font-size-subtitle);
  color: white;
  font-weight: bold;
  padding: 0;
  margin: 0;
  text-align: center;
  width: 100%;
}

.table-row {
  display: flex;
  border-top: 1px solid var(--border-color);
}

.table-cell {
  flex: 1;
  padding: 8px;
  text-align: center;
  border-left: 1px solid var(--border-color);
}

.table-cell:first-child {
  border-left: none;
}

.table-row:last-child .table-cell {
  border-bottom: 1px solid var(--border-color);
}

.weather{
  grid-column: 1/4;
  width: 96%;
}

.isFinished{
  color: var(--primary-color);
}


.inProgress{
  color: var(--tertiary-color);
}

.tags-matchDay{
  display: flex;
  justify-content: space-between;
  .prox{
    width: auto;
    padding: 0px 10px;
    cursor:pointer;
  }

  .prox:hover{
    background-color: var(--secondary-color);
    color: var(--bg-color);
  }
}