.buttons {
  display: flex;
  width: auto;
  justify-content: start;
  gap: 20px;
  flex-wrap: wrap;
  @media screen and (max-width: 576px) {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    margin: 0;
  }
}

.btn {
  background-color: #bcbcbc;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  @media screen and (max-width: 768px) {
    font-size: 1rem;
  }

  &:hover {
    background-color: var(--primary-color);
    color: white;
  }
}

.section-table {
  gap: 20px;
  grid-area: team;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: solid var(--primary-color) 2px;
  padding: 8px;
  text-align: center;
  font-size: 1.5rem;
  height: 4rem;
}

.player {
  white-space: nowrap;
  text-align: start;
  width: 500px;
}

.no-line {
  border: none !important;
  text-align: start;
  padding-right: 20px;
}

thead th {
  position: sticky;
  top: 0;
  background-color: #f2f2f2;
}

.hmx {
  max-height: 550px !important;
  overflow-y: auto !important;
  position: relative;
}

tr {
  text-align: center;
  height: 30px;
  
  &:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  &:hover {
    background-color: #f5f5f5;
  }
}

th {
  background-color: #f2f2f2;
}

.search-team {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;

  &-track {
    background-color: #f1f1f1;
  }

  &-thumb {
    background-color: #888;
    border-radius: 10px;
    
    &:hover {
      background-color: #555;
    }
  }
}

.tournamentClicked {
  background-color: var(--primary-color) !important;
  color: white !important;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.stats {
  width: auto;
  cursor: default;
}

p {
  border: solid var(--primary-color) 2px;
  background-color: white;
  color: var(--primary-color);
  font-weight: bold;
  padding: 5px;
  height: auto;
  min-width: 200px;
  text-align: center;
  font-size: 1.5rem;
  transition: background-color 0.3s ease;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}