<section>
  
  <form [formGroup]="teamForm" (ngSubmit)="onSubmit()">
    <h2>CREAR EQUIPO</h2>
    <div class="team-form">
      <mat-form-field appearance="outline">
        <mat-label>Nombre del equipo</mat-label>
        <input matInput formControlName="name" required />
      </mat-form-field>
  
      <mat-form-field appearance="outline">
        <mat-label>Color</mat-label>
        <input matInput type="color" formControlName="color" required />
      </mat-form-field>
    </div>
    
    <div>
    <h3>Jugadores</h3>
    
    <div formArrayName="players" class="players-form">
      @if (error) {<mat-error>{{ error }}</mat-error
      >}
      <div
        *ngFor="let player of players.controls; let i = index"
        [formGroupName]="i" class="player-row"
      >
        <mat-form-field appearance="outline" class="medium-input">
          <mat-label>Nombre</mat-label>
          <input matInput formControlName="name" required />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Apellido</mat-label>
          <input matInput formControlName="lastName" required />
        </mat-form-field>

        <mat-form-field appearance="outline" class="small-input">
          <mat-label>Dorsal</mat-label>
          <input matInput type="number" formControlName="number" required />
        </mat-form-field>

        <mat-checkbox formControlName="isCaptain"
          ><span class="material-icons"> shield </span></mat-checkbox
        >

        <mat-checkbox formControlName="isGoalKeeper"
          ><span class="material-icons"> sports_handball </span></mat-checkbox
        >

        <button mat-button type="button" (click)="removePlayer(i)">
          <span class="material-icons"> remove_circle_outline </span>
        </button>
      </div>

      <ng-container *ngIf="players.length === 0">
        <p>No hay jugadores en el equipo.</p>
      </ng-container>
    </div>
    </div>
    <button mat-button type="button" (click)="addPlayer()">
      <span class="material-icons"> add_circle_outline </span>
    </button>
    <button
      mat-raised-button
      type="submit"
      [disabled]="teamForm.invalid || players.invalid"
    >
      CREAR EQUIPO
    </button>
  </form>
</section>
