
/* You can add global styles to this file, and also import other style files */
:root {
    --primary-color: #2a6a49;
    --secondary-color: #41cf8a; 
    --bg-color: #f4f4f4;
}

@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

html {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Play', sans-serif;

}

*, *:after, *:before {
    box-sizing: inherit;
    margin: 0;
}


.btn-login{
    background-color: #41cf8a;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

svg{
    width: 20px;
    height: 20px;
}


small{
    position: relative;
    font-size: 1.3rem;
}