
/* You can add global styles to this file, and also import other style files */
:root {
    --primary-color: #2a6a49;
    --secondary-color: #41cf8a; 
    --bg-color: #f4f4f4;
}

@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

html {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Play', sans-serif;

}

*, *:after, *:before {
    box-sizing: inherit;
    margin: 0;
}


.btn-login{
    background-color: #41cf8a;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

svg{
    width: 20px;
    height: 20px;
}


small{
    position: relative;
    font-size: 1.3rem;
}



// Responsive for 392px by 852px
@media screen and (max-width: 393px) {
    html {
        font-size: 50%;
    }
}





/* BUTTON */

/* Botón de añadir jugador */
/* Base Button Styles */
.base-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: var(--primary-color);
    border: none;
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
  }
  
  /* Estilos para el botón pequeño */
  .button-small {
    width: 40px; /* Ancho para botones de acción pequeños */
    height: 40px; /* Altura para botones de acción pequeños */
    font-size: 24px; /* Tamaño del icono */
  }
  
  /* Estilos para el botón grande */
  .button-large {
    background-color: var(--primary-color);
    color: white;
    width: 80%; /* Ancho completo para el botón de enviar */
    height: 40px; /* Altura para el botón de enviar */
    font-size: 16px; /* Tamaño de texto para el botón de enviar */
    margin: 8px auto;
  }
  
  /* Hover: cambio de color y fondo */
  .base-button:hover:not(:disabled) {
    background-color: var(--secondary-color); /* Fondo al hacer hover */
    color: #fff; /* Ícono en blanco */
    transform: scale(1.1); /* Efecto de crecimiento ligero */
  }
  
  /* Al hacer foco */
  .base-button:focus {
    outline: none;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2); /* Sombra sutil */
  }
  
  /* Estilo para el botón deshabilitado */
  .base-button:disabled {
    background-color: var(--disabled-color, #e0e0e0); /* Color de fondo para deshabilitado */
    color: #a0a0a0; /* Color de texto para deshabilitado */
    cursor: not-allowed; /* Cambiar el cursor para indicar que no se puede interactuar */
    opacity: 0.7; /* Opacidad para indicar que está deshabilitado */
  }
  
  /* Asegúrate de que el hover no afecte el botón deshabilitado */
  .base-button:disabled:hover {
    background-color: var(--disabled-color, #e0e0e0); /* Mantener el mismo fondo */
    transform: none; /* No aplicar transformación de escala */
  }
  
  