.teams {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: "teams team";
  grid-gap: 50px;
  padding: 10px;
  align-items: start;
  margin-top: 100px;
  margin-left: 100px;
  min-height: calc(100vh - 260px);
}

.buttons {
  display: flex;
  width: 100%;
  justify-content: start;
  gap: 20px;
  flex-wrap: wrap;
}

.btn {
  background-color: #bcbcbc;
  border: solid var(--primary-color) 2px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: var(--primary-color);
  color: white;
}

.section-name {
  grid-area: teams;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section-name input {
  font-size: 1rem;
  border-radius: 5px;
  outline: none;
  border: 1px solid #ccc;
  margin: 0;
}

.section-name input:focus {
  outline: none;
}

.team-list {
  max-height: 400px;
  overflow-y: scroll;
}

.team-list::-webkit-scrollbar {
  width: 3px;
}

.team-list::-webkit-scrollbar-button {
  display: none;
}

.section-table {
  gap: 20px;
  grid-area: team;
  display: flex;
  flex-direction: column;
  width: 100vh;
}

.table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: solid var(--primary-color) 2px;
  padding: 8px;
  text-align: center;
  font-size: 1.5rem;
  height: 4rem;
}

.hmx {
  max-height: 370px !important;
  overflow-y: scroll !important;
}

tr {
  text-align: center;
}

.icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
  border: none;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #f5f5f5;
}

li {
  list-style-type: none;
  margin: 5px 0;
  padding: 10px;
  cursor: pointer;
  font-size: 2rem;
  text-align: center;
}

.search-team {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}


.team-name.active {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--primary-color);
}

.tournaments-names {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
  text-align: center;
  max-width: 100%;
  overflow-x: auto;
  gap: 15px;
  padding: 10px 0;
  scrollbar-color: var(--primary-color) #ffffff;

  &::-webkit-scrollbar {
    height: 4px;
  }
}

p {
  border: solid var(--primary-color) 2px;
  background-color: white;
  color: var(--primary-color);
  font-weight: bold;
  padding: 5px;
  height: auto;
  min-width: 200px;
  text-align: center;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
  border-radius: 5px;

}



p:hover {
  color: #fff;
  background-color: var(--primary-color);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}


.tournamentClicked {
  background-color: var(--primary-color) !important;
  color: white !important;
}

.nameClicked {
  background-color: var(--primary-color);
  color: white;
  font-weight: bold;
}


.listTeamsAll {
  width: 100%;
  text-align: center;
  border: solid var(--primary-color) 2px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.listTeamsAll:hover {
  background-color: var(--primary-color);
  color: white;
}

.nameTeamUP {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
}

.nameTeamUP>p {
  font-size: 1.5rem;
  font-weight: bold;
  height: auto;
  width: auto;
}


.position {
  position: absolute !important;
  top: 100px !important;
  left: 15px !important;
  margin-bottom: 50px;
}


.loading-container{
  height: 50vh;
  gap: 20px;

  p{
    font-weight: bold;
    background-color: white;
    box-shadow: none;
    cursor: default;
  }

  p:hover{
    box-shadow: none;
    color: var(--primary-color);
  }

}
