<section class="teams">

  <div class="section-name">
    <button class="back-button position" (click)="changeComponent('dashboard')">ATRAS</button>
    @if (listTeamsAll) {
    <h4 class="listTeamsAll" (click)="changeList()">VER EQUIPOS ACTIVOS</h4>

    }@else {
    <h4 class="listTeamsAll" (click)="changeList()">VER EQUIPOS ELIMINADOS</h4>

    }
    <input [(ngModel)]="searchTerm" (ngModelChange)="filterTeams()" class="search-team" type="text"
      placeholder="BUSCAR EQUIPO">
    <div class="team-list">
      @for (item of teamsGlobal; track $index) {
      @if (item.status && !listTeamsAll) {
      <li class="team-name" (click)="getParticipantsAllByIdTeam(item.id,$index)"
        [ngClass]="{nameClicked: nameClicked && ( $index === indexName )}">
        {{ item.name }}
      </li>
      }@else if (!item.status && listTeamsAll) {
      <li class="team-name" (click)="getParticipantsAllByIdTeam(item.id,$index)"
        [ngClass]="{nameClicked: nameClicked && ( $index === indexName )}">
        {{ item.name }}
      </li>
      }
      }
    </div>
  </div>

  @if (loadInfo) {
  <div class="section-table">
    <div class="nameTeamUP">
      <h2>{{selectedTeam.name}} - {{selectedTeam.status ? '🟩':'🟥'}}</h2>
      <p (click)="showStatisticsAllTournaments()" [ngClass]="{tournamentClicked: (selectedTournamentIndex === null)}">
        ESTADISTICAS GLOBALES</p>
    </div>
    <div class="tournaments-names">
      @for (tournament of particpantsShortAll; track $index) {
      <p (click)="showPlayersParticipants(tournament.playerParticipants,$index)"
        [ngClass]="{tournamentClicked: (selectedTournamentIndex === $index)&&(clicked) }">
        {{tournament.nameTournament}}
      </p>
      }
      @if (particpantsShortAll.length === 0 && selectedTournamentIndex === null) {
      <p>NO SE INSCRIBIO EN NINGUN TORNEO</p>
      }
    </div>

    <div class="hmx">
      <table class="table">
        <thead>
          <tr class="columnas">
            <th>#</th>
            <th>JUGADOR</th>
            <th>G</th>
            <th>🟨</th>
            <th>🟥</th>
            <th>MVP</th>
            <th>ESTADO</th>
          </tr>
        </thead>
        <tbody>
          @for (player of playersParticipants; track $index) {
          @if (player.isActive === true) {
          <tr>
            <td>{{ player.shirtNumber }}</td>
            <td>
              {{ player.playerName +' '+player.playerLastName }}
              @if (player.isCaptain) {
              <span class="captain">🌟</span>
              }
              @if (player.isGoalKeeper) {
              <span class="goalkeeper icon">🧤</span>
              }
            </td>
            <td>{{ player.goals }}</td>
            <td>{{ player.yellowCards }}</td>
            <td>{{ player.redCards }}</td>
            <td>{{ player.isMvp }}</td>
            <td>{{ player.isSuspended ? '🟥' : '🟩' }}</td>
            @if (isAuth) {
            <td class="icon" (click)="deletePlayerFromTeamGlobal(player.playerName, player.playerLastName)"> <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 448 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                <path fill="#2a6a49"
                  d="M135.2 17.7C140.6 6.8 151.7 0 163.8 0L284.2 0c12.1 0 23.2 6.8 28.6 17.7L320 32l96 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 96C14.3 96 0 81.7 0 64S14.3 32 32 32l96 0 7.2-14.3zM32 128l384 0 0 320c0 35.3-28.7 64-64 64L96 512c-35.3 0-64-28.7-64-64l0-320zm96 64c-8.8 0-16 7.2-16 16l0 224c0 8.8 7.2 16 16 16s16-7.2 16-16l0-224c0-8.8-7.2-16-16-16zm96 0c-8.8 0-16 7.2-16 16l0 224c0 8.8 7.2 16 16 16s16-7.2 16-16l0-224c0-8.8-7.2-16-16-16zm96 0c-8.8 0-16 7.2-16 16l0 224c0 8.8 7.2 16 16 16s16-7.2 16-16l0-224c0-8.8-7.2-16-16-16z" />
              </svg></td>
            }
          </tr>
          }
          }
        </tbody>
      </table>
    </div>
    @if (isAuth &&!listTeamsAll) {
    <div class="buttons">
      <button class="btn">AGREGAR JUGADOR</button>
      <button class="btn">ULTIMOS PARTIDOS</button>
      <button (click)="deleteTeamGlobal()" class="btn">ELIMINAR</button>
    </div>
    }
  </div>
  }@else {
    <div class="loading-container">
      <div class="spinner"></div>
      <p id="load" >CARGANDO DATOS DE {{ teamsGlobal[indexTeamClicked].name}}...</p>
    </div>
  }
</section>