<section [ngClass]="{ centerSection: thereAreNotTeams }">
  <button (click)="toDashboard(1)" class="back-button">ATRAS</button>

  @if(teamsGlobales.length>0){
  <input
    class="search-team desktop"
    type="text"
    placeholder="BUSCAR EQUIPO"
    (input)="searchTeams($event)"
  />
  <div>
    <h3 class="search-team mobile">Selecionar equipo</h3>
    <select
      class="search-team mobile"
      (change)="showFromOptional($event)"
      [(ngModel)]="bindingSelect"
    >
      @for (team of teamsGlobalesInputFilter; track $index) {
      <option [value]="team.id">{{ team.name }}</option>
      }
    </select>
  </div>

  <div class="container">
    <div class="names search-team desktop">
      @for (item of teamsGlobalesInputFilter; track $index){
      <p
        [ngClass]="{ 'bg-primary-color': $index == indexSelectedAfter }"
        (click)="showParticipants(item.id)"
      >
        {{ item.name }}
      </p>
      }
    </div>

    <div class="info">
      <p class="team-name mobile">{{ nameClicked }}</p>

      <div class="names-tournaments">
        <app-names-tournaments
          [id]="idSelected"
          (participantSelected)="onParticipantSelected($event)"
          (globalsPlayer)="onGlobalPlayerSelected($event)"
          (onlyGlobalTeams)="onOnlyGlobalTeams($event)"
          (codeTournament)="onCodeTournament($event)"
          (tournamentSelected)="onNameTournament($event)"
        ></app-names-tournaments>
      </div>

      @if (clickedToOcultPlayers) {
      <div class="players">
        <app-players
          [participantId]="selectedParticipantId"
          [isGlobalTeam]="isGlobalTeams"
          [idTeam]="idSelected"
          [code]="codeTouranment"
          [nameTournament]="nameTouranemt"
        ></app-players>
      </div>}@else {
        <div class="player center"> 
          <p>CARGANDO DATOS...</p>
        </div>
      }
    </div>
  </div>
  }@else {
  <p [ngClass]="{ noPointer: thereAreNotTeams }">NO HAY EQUIPOS CREADOS</p>
  <button (click)="toDashboard(2)" class="team-name">CREAR EQUIPO</button>
  }
</section>
