section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: calc(100vh - 160px);
    gap: 20px;
    background-color: var(--bg-color);
    color: var(--text-color);
    text-align: center;
}

.title {
    font-size: 5rem;
    font-weight: bold;
    color: gray;

    @media screen and (max-width: 768px) {
        font-size: 3rem;
        text-wrap: wrap;
        width: 80%;
    }

}

.description {
    font-size: 2rem;
    max-width: 600px;

    @media screen and (max-width: 768px) {
        font-size: 1.8rem;
        width: 80%;
    }
}

.start {
    background-color: var(--primary-color);
    color: var(--bg-color);
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    @media screen and (max-width: 768px) {
        font-size: 1.5rem;
    }
}