
<section class="cards">

    <article (click)="navigateTo('tournaments/create')" class="card">
        <img class="img-cards" src="crear-torneo.png" alt="">
        <h2>CREAR TORNEO</h2>
    </article>

    <article (click)="navigateTo('crear-equipo')" class="card">
        <img class="img-cards" src="shield-1024.webp" alt="">
        <h2>CREAR EQUIPO</h2>
    </article>

    <article (click)="navigateTo('tournaments/list')" class="card">
        <img class="img-cards" src="trophy.png" alt="">
        <h2>VER TORNEOS</h2>
    </article>

    <article (click)="navigateTo('dashboard')" class="card">
        <img class="img-cards" src="equipo-de-futbol.png" alt="">
        <h2>VER EQUIPOS</h2>
    </article>

</section>
