.contain {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 20px;
    height: calc(100vh - 160px);
    align-items: center;
    justify-content: center;
    text-align: center;


    @media screen and (max-width: 360px) {
        gap: 20px;
        height: auto;
    }

}

.cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;

    @media screen and (max-width: 768px) {
        gap: 20px;
        height: auto;
        margin: 0px;
        align-content: center;
    }
}

.card {
    cursor: pointer;
    width: 200px;
    display: flex;
    border-radius: 25%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px 0px;
    gap: 10px;
    background-color: var(--primary-color);
    color: var(--font-color-ligth);

    &:hover {
        background-color: var(--secondary-color);
        transition: 0.3s ease-in-out;
    }

    @media screen and (max-width: 768px) {
        width: 150px;
        padding: 15px 0px;
    }
}

.img-cards {
    width: 118px;
    height: 118px;

    @media screen and (max-width: 768px) {
        width: 80px;
        height: 80px;
    }
}

.btn {
    width: auto;
    padding: 20px 15px;

    @media screen and (max-width: 768px) {
        font-size: 1.5rem;
    }
}

.last-tournament {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding: 20px;

    p {
        font-size: var(--font-size-text);
    }
}
