
<section class="cards">

    <article (click)="changeComponent('create-tournament')" class="card">
        <img class="img-cards" src="crear-torneo.png" alt="">
        <h2>CREAR TORNEO</h2>
    </article>

    <article (click)="changeComponent('create-team')" class="card">
        <img class="img-cards" src="shield-1024.webp" alt="">
        <h2>CREAR EQUIPO</h2>
    </article>

    <article (click)="changeComponent('list-tournaments')" class="card">
        <img class="img-cards" src="trophy.png" alt="">
        <h2>VER TORNEOS</h2>
    </article>

    <article (click)="changeComponent('list-teams')" class="card">
        <img class="img-cards" src="equipo-de-futbol.png" alt="">
        <h2>VER EQUIPOS</h2>
    </article>

</section>
