<section class="cards">

    <mat-card class="card" (click)="goToTournaments()" appearance="outlined">
        <img class="img-cards" mat-card-image src="crear-torneo.png" alt="Descripción de la imagen">
        <mat-card-content style="cursor: pointer;">
          CREAR TORNEO
        </mat-card-content>
      </mat-card>

      <!-- <mat-card class="card" (click)="goToTournaments()" appearance="outlined"> -->
        <mat-card class="card" appearance="outlined">
            <img class="img-cards" mat-card-image src="shield-1024.webp" alt="Descripción de la imagen">
            <mat-card-content style="cursor: pointer;">
              VER TORNEOS
            </mat-card-content>
          </mat-card>

      <!-- <mat-card class="card" (click)="goToTournaments()" appearance="outlined"> -->
        <mat-card class="card" appearance="outlined">
        <img class="img-cards" mat-card-image src="trophy.png" alt="Descripción de la imagen">
        <mat-card-content style="cursor: pointer;">
          VER TORNEOS
        </mat-card-content>
      </mat-card>

      <!-- <mat-card class="card" (click)="goToTournaments()" appearance="outlined"> -->
        <mat-card class="card" appearance="outlined">
            <img class="img-cards" mat-card-image src="equipo-de-futbol.png" alt="Descripción de la imagen">
            <mat-card-content style="cursor: pointer;">
              VER TORNEOS
            </mat-card-content>
          </mat-card>
      
</section>