@if (spinner) {
<app-spinner [text]="'Cargando participaciones'"></app-spinner>
} @if (!spinner) { @if (!therAreNotParticipants) {
<h3 class="search-team mobile">Selecionar torneo</h3>
}@else {
<h3>
  EL EQUIPO NO ESTA INSCRIPTO A NINGUN TORNEO, SE MOSTRARAN LOS JUGADORES
  GLOBALES
</h3>
}

<section>
  @if (!therAreNotParticipants) {
  <select
    class="search-team mobile"
    id="optional"
    [(ngModel)]="selectedTournament"
    (change)="showPlayersFromOptional($event)"
  >
    <option
      [value]="0"
      [ngClass]="{ tournamentClicked: isClicked }"
      (click)="emitThatIsGlobalTeam()"
    >
      JUGADORES GLOBALES
    </option>
    @for (team of participantsTeam; track $index) {
    <option class="opSelect" [value]="team.idParticipant">
      {{ team.nameTournament }}
    </option>
    }
  </select>

  @if (participantsTeam.length < 10) {
  <div class="names search-team desktop">
    <p
      [ngClass]="{ tournamentClicked: isClicked }"
      (click)="emitThatIsGlobalTeam()"
    >
      JUGADORES GLOBALES
    </p>
    @for (participantsTournament of participantsTeam; track $index) {
    <p
      [ngClass]="{
        tournamentClicked:
          selectedParticipantId == participantsTournament.idParticipant
      }"
      (click)="showPlayers(participantsTournament.idParticipant)"
    >
      {{ participantsTournament.nameTournament }}
    </p>
    }
  </div>
  }@else {
    <div class="more-than-10-container">

      <h3 class="search-team desktop title-more-10">Selecionar torneo</h3>
      <select
        class="search-team desktop"
        id="optional"
        [(ngModel)]="selectedTournament"
        (change)="showPlayersFromOptional($event)"
      >
        <option
          [value]="0"
          [ngClass]="{ tournamentClicked: isClicked }"
          (click)="emitThatIsGlobalTeam()"
        >
          JUGADORES GLOBALES
        </option>
        @for (team of participantsTeam; track $index) {
        <option class="opSelect" [value]="team.idParticipant">
          {{ team.nameTournament }}
        </option>
        }
      </select>
    </div>
  } }
</section>
}
