<h3 class="search-team mobile">Selecionar torneo</h3>
<section>@if (!therAreNotParticipants) {
    <select class="search-team mobile" id="optional" [(ngModel)]="selectedTournament"
    (change)="showPlayersFromOptional($event)">
    <option [value]="0" [ngClass]="{tournamentClicked: isClicked}" 
        (click)="emitThatIsGlobalTeam()">JUGADORES GLOBALES</option>
    @for (team of participantsTeam; track $index) {
        <option class="opSelect" [value]="team.idParticipant">{{ team.nameTournament }}</option>
    }
</select>


    <div class="names search-team desktop">
        <p [ngClass]="{tournamentClicked: isClicked}" (click)="emitThatIsGlobalTeam()">JUGADORES GLOBALES</p>
        @for (participantsTournament of participantsTeam; track $index) {
        <p [ngClass]="{'tournamentClicked': selectedParticipantId == participantsTournament.idParticipant}"
            (click)="showPlayers(participantsTournament.idParticipant)">{{participantsTournament.nameTournament}}</p>
        }
    </div>
    }@else {
    <h3>EL EQUIPO NO ESTA INSCRIPTO A NINGUN TORNEO, SE MOSTRARAN LOS JUGADORES GLOBALES</h3>
    }
</section>