<app-time-picker
  class="oculto"
  [ngClass]="{ show: showPicker }"
  [matchId]="selectedMatchId"
  (cancelPicker)="cancelPicker($event)"
  (sendDate)="updateDateTime($event)"
></app-time-picker>

<section [ngClass]="{ blur: showPicker }">
  <div class="title-container">
    <div>
      <h2 class="title play-bold">FECHA N° {{ selectedMatchDay + 1 }}</h2>
      <div class="matchdays">
        @for (day of this.tournament.matchDays; track day.numberOfMatchDay) {
        <button [ngClass]="{activeNumberClass: day.numberOfMatchDay === selectedMatchDay}"
          class="base-button"
          (click)="updateMatchDay(day.numberOfMatchDay)"
        >
          {{ day.numberOfMatchDay + 1 }}
        </button>
        } @empty { Cargando... }
      </div>
    </div>
    <hr />
  </div>
  <div class="matches">
    @if(this.tournament && this.tournament.matchDays.length > 0){
    @if(tournament.matchDays[selectedMatchDay].matches &&
    tournament.matchDays[selectedMatchDay].matches.length > 0){
      <div class="match">
        <p class=" titles title-versus">
          PARTIDOS
        </p>
        <div class="titles title-hour">
          @if (tournament.matchDays[selectedMatchDay].matches[0].dateTime != null) {
            <p>FECHA</p>
          }@else {
            <p (click)="chargeAllDates()" >CARGAR FECHAS</p>
          }
        </div>
        <div class="titles title-complex">
          <p>CANCHA</p>
        </div>
      </div>
    <ng-container
      *ngFor="let match of tournament.matchDays[selectedMatchDay].matches"
    >
      <div class="match">
        @if(match.homeTeam === 'Free' || match.awayTeam === 'Free'){
        @if(match.homeTeam === 'Free'){
        <p class="free-match">
          {{ match.awayTeam.toUpperCase() }} TIENE FECHA LIBRE
        </p>
        }@else{
        <p class="free-match">
          {{ match.homeTeam.toUpperCase() }} TIENE FECHA LIBRE
        </p>
        } }@else{
        <div class="versus">
          <p>{{ match.homeTeam.toUpperCase() }}</p>
          <p>{{ match.homeGoals }}</p>
          <p>{{ match.awayGoals }}</p>
          <p>{{ match.awayTeam.toUpperCase() }}</p>
        </div>
        <div class="hour">
          @if (match.dateTime != null) {
            <p>{{ match.dateTime.toUpperCase() }}</p>
          }@else {
            <p>FECHA SIN DEFINIR</p>
          }
          @if (!this.matchDayStatus) {
            <i
            (click)="sendMatchId(match.id, 1)"
            class="icon fa-solid fa-pen-to-square"
          ></i>
          }
     
        </div>
        <div class="complex">
          <p>{{match.description}}</p>
          @if (!this.matchDayStatus) {
            <i
            (click)="sendMatchId(match.id, 1)"
            class="icon fa-solid fa-pen-to-square"
          ></i>
          }
        </div>
        @if(isAuth()){ @if(!tournament.matchDays[selectedMatchDay].isFinished){
        @if(!match.isFinished){
        <button class="base-button heigt-mx" (click)="loadResult(match.id)">
          CARGAR EVENTOS
        </button>
        }@else {
        <button (click)="editResult(match.id)" class="base-button edit-button">
          EDITAR
        </button>
        } } } }
      </div>
    </ng-container>
    }@else{
    <ng-template #noMatches>
      <p>No hay partidos programados para esta jornada.</p>
    </ng-template>
    } }@else{
    <ng-template #noData>
      <p>No hay datos del torneo disponibles.</p>
    </ng-template>
    }
  </div>
  <div class="btn-container">
    @if(isAuth()){ @if(this.matchDayStatus){
    <button
      class="base-button edit-button"
      (click)="toggleMatchDayStatus(false)"
    >
      REABRIR FECHA
    </button>
    }@else{
    <button class="base-button" (click)="closeMatchDay(true)">
      FINALIZAR FECHA
    </button>
    } }
  </div>
</section>
