<section>
    <div class="title-container">
        <div>
            <h2 class="title play-bold">Fecha N° {{selectedMatchDay+1}}</h2>
            <div class="matchdays">
                <button *ngFor="let i of [].constructor(50); let index = index" 
        class="base-button match-day-button" 
        (click)="updateMatchDay(index + 1)">
  {{index + 1}}
</button>
            </div>
        </div>
        <hr>
    </div>
    <div class="matches">
        @if(this.tournament && this.tournament.matchDays.length > 0){
            @if(tournament.matchDays[selectedMatchDay].matches && tournament.matchDays[selectedMatchDay].matches.length > 0){
                <ng-container *ngFor="let match of tournament.matchDays[selectedMatchDay].matches">
                    <div class="match">
                        <div class="versus">
                            <p>{{ match.homeTeam.toUpperCase()}}</p>
                            <p>{{match.homeGoals}}</p>
                            <p>{{match.awayGoals}}</p>
                            <p>{{ match.awayTeam.toUpperCase()}}</p>
                        </div>
                        <div class="hour"><p>09:12 HS</p></div>
                        <div class="complex"><p>Complejo</p></div>
                        @if(!tournament.matchDays[selectedMatchDay].isFinished){
                            @if(!match.isFinished){
                                @if(match.homeTeam === 'Free' || match.awayTeam === 'Free'){
                                    <button disabled>FECHA LIBRE</button>
                                }@else {
                                    <button class="base-button" (click)="loadResult(match.id)"> CARGAR EVENTOS </button>
                                }
                            }@else {
                                <button (click)="editResult(match.id)">EDITAR EVENTOS</button>
                            }
                        }
                    </div>
                </ng-container>
            }@else{
                <ng-template #noMatches>
                    <p>No hay partidos programados para esta jornada.</p>
                </ng-template>
            }
        }@else{
            <ng-template #noData>
                <p>No hay datos del torneo disponibles.</p>
            </ng-template>
        }
    </div>
    <div class="btn-container">
        <button class="base-button" (click)="changeComponent('dashboard')">ATRAS</button>
        @if(tournament.matchDays[selectedMatchDay].isFinished){
            <button class="base-button" (click)="closeMatchDay(false)">REABRIR FECHA</button>
        }@else{
            <button class="base-button" (click)="closeMatchDay(true)">FINALIZAR FECHA</button>
        }
    </div>
</section>
