<section>
  <input
    class="search-team"
    type="text"
    name=""
    id=""
    placeholder="BUSCAR EQUIPO"
    (input)="searchTeams($event)"
  />
  <div class="container">
    <div class="names">
        @for (item of particpantsFilter; track item.idParticipant){
        <p
          [ngClass]="{ 'bg-primary-color': item.idParticipant === teamParticipant.idParticipant }"
          (click)="showParticipants(item.idParticipant)"
        >
          {{ item.name }}
        </p>
        }
      </div>

    <div class="info">
        @if (nameClicked) {
        <p class="team-name">{{ nameClicked }}</p>
        }
      <div class="players">
        <app-players-tournament
        [teamParticipant]="teamParticipant"
        [code]="tournament.code"
        ></app-players-tournament>
    </div>
    </div>
  </div>
</section>
