.column-1 {
  grid-area: column-1;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  border: solid 1px #ccc;
  padding: 20px;

  h2 {
    color: var(--primary-color);
    font-size: 3rem;
  }

  p {
    color: black;
    font-size: 2rem;
  }

  ul {
    font-size: 1.5rem;
  }
}

form {
  display: flex;
  max-width: 400px;
  min-height: 200px;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  gap: 5px;
}



label {
  font-weight: bold;
  font-size: var(--font-size-text);
}



.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "column-2 column-1";
  width: 75%;
  box-shadow: 0 0 10px rgb(6, 118, 64);
}

.column-2 {
  grid-area: column-2;

  img {
    width: 100%;
    height: 100%;
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 160px) !important;
  max-height: calc(100vh - 160px) !important;
  gap: 10px;
}

.oculto {
  color: #f4f4f4  ;
}

small {
  min-height: 25px;
  font-size: 1.5rem;
  color: red;
}

// Responsive for 392px by 852px
@media screen and (max-width: 1000px) {
  .center{
    flex-direction: column;

    width: 100%;
    height: auto;
  }
  
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "column-2"
      "column-1";
    width: 100%;
    height: calc(100vh - 80px);
    box-shadow: none;
  }

  .column-1,
  .column-2 {
    max-width: 100%;
  }
}

.position{
  position: absolute;
  top: 100px;
  left: 15px;
}

.btn-create{
  width: 100%;
  padding: 10px;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.btn-create:hover{
  background-color: var(--secondary-color);
}

.oculto{
  display: flex;
  min-height: 25px;
}