.center {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../../../../public/imagen-de-destaque-que-es-el-futbol.-jugadores-y-balon.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: calc(100vh - 160px);
}


.form-section{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.815);
  height: auto;
  width: auto;
  padding: 15px;
  gap: 25px;
  border-radius: 5px;
  text-align: start;

  h2{
    color: var(--primary-color);
    font-size: var(--font-size-title);
  }

  p{
    color: var(--primary-color);
    font-size: var(--font-size-text);
    font-weight: bold;
    text-decoration: underline;
  }

  ul{
    font-size: var(--font-size-text);
    text-wrap: nowrap;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  @media screen and (max-width: 576px) {
    h2{
      font-size: var(--font-size-subtitle);
    }

    p{
      font-size: 14px;
    }

    ul{
      font-size: 12px;
    }    
  }


}

form {
  display: flex;
  min-width: auto;
  height: auto;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  gap: 5px;

  
  @media screen and (max-width: 576px) {
    input{
      font-size: 14px;
    }

    small{
      font-size: 12px;
    }
    
  }

}



label {
  font-weight: bold;
  font-size: var(--font-size-text);
}





.oculto {
  color: #f4f4f4  ;
}

small {
  min-height: 25px;
  font-size: 1.5rem;
  color: red;
}


.position{
  position: absolute;
  top: 100px;
  left: 15px;
}

.btn-create{
  width: 100%;
  padding: 10px;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.btn-create:hover{
  background-color: var(--secondary-color);
}

.oculto{
  display: flex;
  min-height: 25px;
}